---
import DefaultLayout from "@/layouts/DefaultLayout.astro"
import PageDescription from "@/components/PageDescription.astro"
import Workplace from "@/components/Workplace.astro"
import { Badge } from "@/components/ui/badge"
import { toolsAndTechnologies, workplaces } from "@/content/_constants"
---

<DefaultLayout>
  <PageDescription
    description="Crafting Solutions with Experience: My Journey, Tools, and Technologies."
  />
  <main class="mt-10 mb-20">
    <section>
      <h3 class="font-semibold mb-4">Work</h3>
      <ul class="space-y-4 text-base" data-animate data-animate-speed="slow">
        {
          workplaces.map((data) => (
            <Workplace
              company={data.company}
              role={data.role}
              date={data.date}
              assignments={data.assignments}
              current={data.current}
            />
          ))
        }
      </ul>
    </section>

    <section data-animate data-animate-speed="slow">
      <h3 class="font-semibold mb-4">Tools & Technologies</h3>

      <ul class="flex flex-wrap gap-1">
        {
          toolsAndTechnologies.map((data) => (
            <li>
              <Badge>{data}</Badge>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>
